package ${context.basePackage}.enums;

public enum ${domain.name} implements AbstractEnum {

#foreach( $attribute in $domain.attributes )
	${attribute.name}("${attribute.description}")${attribute.ifLast(';',',')}
#end

    private final String description;

	${domain.name}(String description) {
	     this.description = description;
	}

	@Override
	public String getValue() {
		return name();
	}

    public String getDescription() {
        return description;
    }

}
